.git
.github
.superpowers
node_modules
vendor

tests
docs

.env
.env.*
!.env.example
!.env.docker.example

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app/public/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
!storage/app/public/.gitignore

*.md
!composer.json
docker-compose*.yml
